In [ ]:
# !pip install kaggle

- full_grouped.csv - Day to day country wise no. of cases (Has County/State/Province level data)
- covid19clean_complete.csv - Day to day country wise no. of cases (Doesn't have County/State/Province level data)
- countrywiselatest.csv - Latest country level no. of cases
- day_wise.csv - Day wise no. of cases (Doesn't have country level data)
- usacountywise.csv - Day to day county level no. of cases
- worldometer_data.csv - Latest data from https://www.worldometers.info/

In [ ]:
#!mkdir C:\Users\luuk\.kaggle

In [ ]:
#!kaggle datasets list -s 'fraud detection'

In [1]:
#!kaggle datasets download -d sudalairajkumar/novel-corona-virus-2019-dataset

Downloading novel-corona-virus-2019-dataset.zip to C:\Users\luuk\groep-19\CASE_2

  0%|          | 0.00/8.52M [00:00<?, ?B/s]
 12%|#1        | 1.00M/8.52M [00:00<00:00, 9.45MB/s]
 47%|####6     | 4.00M/8.52M [00:00<00:00, 20.2MB/s]
 82%|########2 | 7.00M/8.52M [00:00<00:00, 22.9MB/s]
100%|##########| 8.52M/8.52M [00:00<00:00, 22.8MB/s]

In [3]:
#import zipfile
#with zipfile.ZipFile('novel-corona-virus-2019-dataset.zip', 'r') as zip_ref:
#    zip_ref.extractall()

In [ ]:
# CODE Hierboven is eenmalig om alle csv te downloaden via kaggle API

In [4]:
import pandas as pd

# Nog 4 csv's, kunnen alvast wat onderzoek naar doen en wat cleaning gebeuren
df = pd.read_csv('time_series_covid_19_confirmed.csv')
df.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,5/20/21,5/21/21,5/22/21,5/23/21,5/24/21,5/25/21,5/26/21,5/27/21,5/28/21,5/29/21
0,NaN,Afghanistan,33.939110,67.709953,0,0,0,0,0,0,...,64575,65080,65486,65728,66275,66903,67743,68366,69130,70111
1,NaN,Albania,41.153300,20.168300,0,0,0,0,0,0,...,132118,132153,132176,132209,132215,132229,132244,132264,132285,132297
2,NaN,Algeria,28.033900,1.659600,0,0,0,0,0,0,...,126156,126434,126651,126860,127107,127361,127646,127926,128198,128456
3,NaN,Andorra,42.506300,1.521800,0,0,0,0,0,0,...,13569,13569,13569,13569,13569,13664,13671,13682,13693,13693
4,NaN,Angola,-11.202700,17.873900,0,0,0,0,0,0,...,31661,31909,32149,32441,32623,32933,33338,33607,33944,34180
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,NaN,Congo (Kinshasa),-4.038300,21.758700,0,0,0,0,0,0,...,30757,30825,30863,30863,30863,31172,31248,31279,31386,31416
96,NaN,Costa Rica,9.748900,-83.753400,0,0,0,0,0,0,...,296632,299219,299219,299219,304529,306899,309486,311922,314102,314102
97,NaN,Cote d'Ivoire,7.540000,-5.547100,0,0,0,0,0,0,...,46834,46874,46942,46942,47033,47036,47085,47146,47195,47233
98,NaN,Croatia,45.100000,15.200000,0,0,0,0,0,0,...,352692,353217,353735,353986,354060,354383,354921,355296,355617,355955
99,NaN,Cuba,21.521757,-77.781167,0,0,0,0,0,0,...,129346,130543,131832,133053,134208,135499,136628,137730,138899,140087